// out: ../../../bundle.css, compress: true, sourcemap: false

// CSS reset
@import "normalize"

// Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700,400italic');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

// Colors
grey = #E3E3E3
pastel_beige = #FFFEE4
dark_grey = #343838
ms_office_blue = #2A579A

html, body
  width 100vw
  height 100vh
  margin 0
  padding 0
  box-sizing border-box
  overflow-x hidden

.container
  position relative
  width 100vw
  height 100vh
  background-color grey
  font-family 'Source Sans Pro', sans-serif
  // font-family 'Montserrat', sans-serif

// Styles for other components
@import "menu"
@import "app"
@import "doc"
