// main: _main.styl, compress: true, sourcemap: false

.doc
  display block
  width 80vw
  max-width 850px
  height 80vh
  background-color white
  border 1px solid grey
  margin 0 auto
  padding 40px
  font-family 'Arial', sans-serif
  font-size 18px
  white-space pre-wrap

.focused
  font-weight bold
