// main: _main.styl, compress: true, sourcemap: false
menu_icon_size = 30px;

.menu
  width 100vw
  height 70px
  padding 10px
  margin-bottom 50px
  border 2px solid black
  border-style groove
  background-color #fff
  // Grow on hover effect for the top menu icons
  img
    transition all .2s ease-in-out
  img:hover
    transform scale(1.2)

// Menu icon styles
.icon
  position absolute
  display inline-block
  width 90px
  height 90px
  margin auto
  top 2px
  left 0
  text-align center
  img
    position relative
    top 25px
    width 40px
    height 40px

// Styles for both menu rows
.row
  position absolute
  margin-left 80px
  width 100vw
  height 30px


// Row with context menus
.row_1
  top 2px
  background-color ms_office_blue
  color white
  div
    display inline-block
    margin-right 20px
    margin-left 10px
    width 70px
    height 30px
    line-height 30px
    text-align center
  div:hover
    background-color white
    color black
// Row with function icons
.row_2
  top 50px
  margin-left 100px

// Container that holds each group of icons
.icon_box
  position relative
  display inline-block
  width 150px
  top 3px
  img
    width menu_icon_size - 5
    height menu_icon_size - 5
    margin-left 20px

.options_box
  width 120px
  height 30px
  display inline-block
  select
    position relative
    display inline-block
    bottom 5px
    margin-left 20px

  select.paragraph_style
      width 120px

  select.font
      width 80px
      margin-left 40px

  select.font-size
      width 50px

// The vertical black dash used to separate groups of icons
.separator
  position relative
  display inline-block
  height 100%
  font-size 30px
  bottom 2px
  margin-left 10px
  margin-right 10px

// Styles for the bold, italicize, and underline icons
.text_style_icons
  top -1px
  img
    width menu_icon_size - 10px
    height menu_icon_size - 10px
